body {
    display: grid;
    place-items: center;
    font-weight: 500;
    padding: 16px;
}

.main {
    margin-top: 25px;
}

.main-input-container {
    width: 90%;
    display: grid;
    /* place-items: center; */
}

form {
    width: 400px;
    border-radius: 5px;
    padding: 10px 10px;
    display: grid;
    place-items: center;
    box-shadow: 0px 0px 10px;
}

h2 {
    text-shadow: 1px 1px 5px red;
}

label {
    display: block;
    margin-bottom: 8px;
}

input {
    all: unset;
    border: 1px solid gray;
    padding: 8px 16px;
    border-radius: 5px;
    width: auto;
    margin-bottom: 8px;
}

input:focus {
    border: 2px solid gray;
}

button {
    all: unset;
    background: black;
    color: white;
    padding: 8px 30px;
    font-weight: 400;
    border-radius: 5px;
}

.btn-submit {
    background: green;
    color: white;
    font-weight: 500;
}

.btn-reset {
    background: red;
    color: white;
    font-weight: 500;
}

.error {
    color: red;
    font-weight: 400;
    font-size: 15px;
    width: 80%;
}